13allumettes/deroulement.dtd

<!ELEMENT deroulement (partie+)>
<!ELEMENT partie (joueur1, joueur2, coups, resultat)>
<!ATTLIST partie date CDATA #REQUIRED>

<!ELEMENT joueur1 EMPTY>
<!ATTLIST joueur1 nom CDATA #REQUIRED>
<!ATTLIST joueur1 strategie CDATA #REQUIRED>

<!ELEMENT joueur2 EMPTY>
<!ATTLIST joueur2 nom CDATA #REQUIRED>
<!ATTLIST joueur2 strategie CDATA #REQUIRED>

<!ELEMENT coups (coup*)>

<!ELEMENT coup EMPTY>
<!ATTLIST coup numero CDATA #REQUIRED>
<!ATTLIST coup joueur CDATA #REQUIRED>
<!ATTLIST coup prise CDATA #REQUIRED>
<!ATTLIST coup allumettes_restantes CDATA #REQUIRED>

<!ELEMENT resultat (gagnant | tricheur)>

<!ELEMENT gagnant EMPTY>
<!ATTLIST gagnant nom CDATA #REQUIRED>

<!ELEMENT tricheur EMPTY>
<!ATTLIST tricheur nom CDATA #REQUIRED> 